.section-main-bread {
  width: 90%;
  margin: auto;
  display: flex;
}
.bread-list {
  margin-left: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: end;
}
.bread-list li a {
  color: #121212;
  font-size: 15px;
  font-weight: 400;
}
.bread-list li {
  margin-left: 5px;
}
.accordion-title h2 {
  font-size: 35px;
  color: #121212;
  font-weight: 600;
  margin-bottom: 0.8em;
}
.title-pic {
  width: 27.35px;
  margin-right: 30px;
}
.title-video-icon {
  width: 48.01px;
  height: 48.01px;
  margin-right: 30px;
}
.title-product-pic {
  width: 21px;
  margin-right: 32px;
}

/* 選單 */
.section-product-title-main {
  width: 70.833333%;
  margin: auto;
  padding-top: 5.388601vw;
  padding-bottom: 4.922279vw;
}

.menu-control h3 {
  font-size: 2.072538vw;
  font-weight: 500;
  margin-bottom: 35px;
}
.section-product-main {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 30px;
}
.phone-list-body {
  background-color: transparent;
}
.menu-list-item p,
.menu-list-item a {
  text-decoration: none;
  font-size: 20px;
  color: #432004;
  text-indent: 2em;
  font-weight: 600;
  transition: 0.3s ease;
  transform: translateX(0px);
  opacity: 1;
}
.menu-list-item:hover a {
  transform: translateX(10px);
  opacity: 0.5;
}

.menu-list-item {
  background-image: url(../src/web/about/pic_2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 18.49vw;
  height: 73px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 12px;
}
.section-title-item {
  margin-bottom: 40px;
  align-items: center;
}
.section-title-item h3 {
  font-size: 35px;
  font-weight: 800;
  color: #432004;
  margin-right: 40px;
}
.section-title-pic {
  width: 60%;
  height: 18.9px;
}
.section-title-pic img {
  width: 100%;
}
.section-article {
  padding-top: 20px;
  padding-bottom: 50px;
}
.section-article p {
  font-size: 20px;
  color: #432004;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 80px;
}
/* owl */
.owl-carousel {
  height: 469px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 60px;
}
.owl-carousel .owl-item img {
  height: 100%;
}
.owl-dots {
  display: none;
}
.owl-theme .owl-nav {
  position: absolute;
  top: -6.74vw;
  right: 4.41vw;
}
.owl-prev,
.owl-next {
  width: 21px;
}
.owl-prev img,
.owl-next img {
  width: 100%;
}
.owl-carousel .owl-nav button.owl-prev {
  margin-right: 80px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent !important;
}
/* news */
.section-vieo-main {
  width: 100%;
}
.section-news-page {
  background-image: url(../src/web/news/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 110px;
  overflow: hidden;
}
/* 分頁 */
.page-arrow {
  display: block;
  width: 125px;
  height: 51px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-arrow img {
  width: 100%;
}
.page-arrow:first-child {
  background-image: url(../src/web/icon/page_arrow_1.svg);
}
.page-arrow:first-child:hover {
  background-image: url(../src/web/icon/page_arrow_1-1.svg);
}
.page-arrow:last-child {
  background-image: url(../src/web/icon/page_arrow_2.svg);
}
.page-arrow:last-child:hover {
  background-image: url(../src/web/icon/page_arrow_2-2.svg);
}
.page-control-box {
  gap: 20px;
}
.page-control-box > li > a {
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
  color: #dc000c;
  font-family: "Montserrat", sans-serif;
}
.page-control-box > li > a:hover {
  background-color: #dc000c;
  color: #fff;
}
/* news-inner */
.section-news-bigtitle h3 {
  font-size: 35px;
  align-self: flex-end;
  color: #432004;
  letter-spacing: 3px;
  margin-left: 1.43em;
}
.newinner-middle {
  align-items: center;
  margin: auto;
  width: 353px;
  margin-top: 50px;
  padding-bottom: 2em;
}
/* 反方向箭頭 */
.reverse-circle {
  left: 0;
  transform: translate(-45%, -50%);
}
.reverse-deg {
  left: 3px;
  transform: rotate(342deg);
}
@media (width>992px) {
  .title-product-pic {
    width: 21px;
    margin-right: 20px;
  }

  .section-news-item-inner {
    width: 91.5%;
    padding-bottom: 94px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .section-news-item-inner .section-news-pic {
    width: 800px;
  }
  .section-news-item-inner:hover {
    transform: translateY(0);
  }
  .section-news-item-inner .section-news-date {
    padding-bottom: 1em;
  }
  .section-news-item-inner .section-news-day {
    font-size: 44px;
  }
}

@media (width<992px) {
  .menu-list-item {
    width: 100%;
  }
  .bread-list li a {
    line-height: 1.6;
  }
  .menu-list-item p,
  .menu-list-item a {
    text-decoration: none;
    font-size: 25px;
    color: #432004;
    text-indent: 0em;
    font-weight: 600;
    margin: auto;
  }
  .menu-control > h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0.8em;
    font-weight: 800;
    color: #432004;
  }

  .section-article p {
    font-size: 20px;
    color: #432004;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 80px;
  }
  .section-title-item h3 {
    font-size: 35px;
    margin-right: 0px;
    margin: auto;
  }
  .article-pic-80 {
    width: 80%;
    margin: auto;
  }
  .owl-carousel .owl-item img {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .owl-theme .owl-nav {
    position: relative;
    top: 0;
    right: 0;
  }
  /* main-container */
  .section-product-main {
    width: 82.60869%;
    margin: auto;
    padding-top: 44px;
    padding-bottom: 30px;
  }
  .section-vieo-main {
    padding-top: 80px;
  }
  /* 分頁 */
  .page-control-box {
    gap: 12px;
  }
  .page-control-box > li > a {
    font-size: 20px;
    width: 37px;
    height: 37px;
    padding: 8px;
    text-align: center;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    color: #dc000c;
    font-family: "Montserrat", sans-serif;
  }

  .page-arrow {
    width: 69px;
    height: 42px;
  }
  /* news-inner */
  .newinner-middle {
    width: 188px;
    margin: auto;
    margin-top: 50px;
    transform: translateX(6%);
  }
  .section-news-item-inner {
    padding-bottom: 72px;
  }
  .section-news-bigtitle h3 {
    font-size: 25px;
    margin-top: 1em;
    margin-left: 0;
  }
  .section-news-date {
    flex-direction: column;
  }
  .title-pic {
    margin-right: 16.65px;
  }
  .section-title-item {
    margin-top: 80px;
  }
}
