.wrap {
  width: 100%;
  /* font-family: "Libre Baskerville", serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
}
.navbar-toggler {
  border: none;
}
/* hb.icon */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #1d1d1d;
  position: absolute;
  height: 2px;
  width: 26px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 20px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
  height: 1px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
  height: 3px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}
.navbar-toggler {
  color: none;
}

/* FOR漢堡圖示show/hide */
@media (max-width: 992px) {
  .menu-button-container {
    display: flex;
  }
}
/* ---- */
.logopic {
  width: 17.3056vw;
  margin-left: 5vw;
}
.logopic img {
  width: 100%;
  vertical-align: top;
}
/* 搜尋條 */
.scerch-section {
  width: 195px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #1d1d1d;
}
.scerch-section > input {
  flex-grow: 1;
  border-radius: 50px 0px 0px 50px;
  border: 0;
}
.search-btn-nav {
  width: 44px;
  border-radius: 0px 50px 50px 0;
  background-color: #fff;
  border: 0;
  margin-left: -1px;
}
.search-btn-pic {
  width: 16.14px;
}
.search-btn-pic img {
  width: 100%;
  vertical-align: top;
}
.dropdown-toggle::after {
  display: none;
}
/* ...桌機板選單.... */
.menu-pc-dropdown-box-big,
.menu-pc-dropdown-box {
  display: none;
  z-index: 2;
}

.pc-nav-item:hover .menu-pc-dropdown-box {
  display: block;
}

.pc-nav-item:hover .menu-pc-dropdown-box-big {
  display: flex;
}
.navbar-expand-lg .navbar-collapse {
  padding-right: 4.65116vw;
}
.pc-nav-item > a {
  font-size: 1.042vw;
  text-decoration: none;
  color: #1d1d1d;
  padding: 45.5px 0 51.5px;
  margin: 0 31px;
}
.pc-nav-item > a:hover {
  color: #dc000c;
}
.menu-pc-dropdown-box-big,
.menu-pc-dropdown-box {
  text-align: center;
  top: 3vw;
  background-color: #464444;
}
.menu-pc-dropdown-box > li {
  width: 100%;
  margin: auto;
}
.menu-pc-dropdown-box > li {
  position: relative;
}
.menu-pc-dropdown-box > li + li::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #fff;
  display: block;
  top: 0;
  margin: auto;
}
.menu-pc-dropdown-box li a {
  font-size: 20px;
  color: #fcdcdc;
  padding: 1em 50px;
  text-align: center;
}
.menu-pc-dropdown-box-big > li a {
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 1.2;
  color: #fff;
  display: block;
  padding: 0.5em 0.5em;
  font-weight: 400;
  text-align: center;
}
.dropdown-menu-item > .dropdown-title a {
  color: #fcdcdc;
  border-bottom: 1px solid #929191;
  display: block;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}
.menu-pc-dropdown-box-big {
  padding: 1em 1em;
}
.dropdown-menu-item-big > li a {
  font-size: 20px;
  text-decoration: none;
  padding: 1em;
  display: block;
  padding: 0.5em;
}
/* ...... */
/* icon&topcart */
.top-cart-item {
  transform: translateX(-2.2222vw);
}
.material-symbols-outlined {
  font-size: 24px;
  display: block;
}
.cart-num {
  top: -28%;
  right: -13%;
  width: 16px;
  height: 16px;
  background-color: #dc000c;
  border-radius: 50%;
}
.cart-num p {
  font-size: 13px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
/* index-team-gmp */
.section-team-gmp-title {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-team-gmp-title h3 {
  font-size: 40px;
  text-align: center;
  color: #432004;
  font-weight: 600;
}
.section-team-gmp-item p {
  font-size: 30px;
  text-align: center;
  color: #432004;
  padding-top: 1em;
  font-weight: 600;
}
.section-team-gmp-main {
  width: 83%;
  margin: auto;
  padding-bottom: 122px;
}
.section-team-gmp-item {
  width: 30%;
}
.team-gmp-pic {
  border-radius: 50%;
  overflow: hidden;
}
.team-gmp-pic img {
  transition: 0.5s;
}
.team-gmp-pic:hover img {
  transform: scale(1.2);
}
/* about */
.section-index-about-pic {
  width: 48%;
}

.section-index-about-title {
  top: 30px;
  right: -35%;
}
.section-index-about-title h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 10vw;
  color: #5e5e5e;
}
.section-index-about-content {
  width: 52%;
  display: flex;
  flex-direction: column;
  padding: 157px 10% 0;
}
.section-index-about-content h4 {
  text-align: center;
  font-size: 35px;
  color: #432004;
  margin-bottom: 2.3em;
  font-weight: 800;
}
.section-index-about-content p {
  font-size: 20px;
  line-height: 2;
  color: #432004;
  font-weight: 400;
}
.section-index-about-content p + p {
  margin-top: 2em;
}
/* about-end */
/* moreBTN-star */
.more-btn {
  margin-left: auto;
  width: 488px;
  height: 92px;
  background-color: transparent;
  border: none;
  margin-top: 103px;
}
.more-btn a {
  font-size: 20px;
  text-decoration: none;
  color: #1d1d1d;
  transform: translateY(-100%);
}
.more-btn-line {
  width: 100%;
  border-top: 2px solid #432004;
  display: flex;
  cursor: pointer;
}
.more-btn-deg {
  top: -7px;
  right: 3px;
  width: 25px;
  height: 25px;
  border-top: 2px solid #432004;
  transform: rotate(20deg);
  cursor: pointer;
}
.more-btn-circle {
  width: 84px;
  height: 84px;
  top: 0;
  right: 0;
  border: 2px solid #432004;
  border-radius: 50%;
  transform: translate(43%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}
.more-btn:hover .more-btn-circle {
  width: 120px;
  height: 120px;
}
/* moreBTN-end */

@media (width<992px) {
  .logopic {
    width: 220px;
    margin-left: 25px;
  }
  .navbar-menu-phone {
    padding: 112px 0px 0px 32px;
  }
  .phoe-nav-item > a {
    font-size: 24px;
    text-decoration: none;
    color: #1d1d1d;
    text-align: start;
    font-weight: 600;
  }
  .phoe-nav-item > a svg {
    margin-left: 24px;
  }
  .dropdown-menu-phone {
    background-color: #464444;
    padding: 0px 20px 10px;
    transform: translateX(-6%);
    width: 110%;
    margin-bottom: 1.5em;
  }
  .dropdown-menu-phone > li > a {
    font-size: 20px;
    color: #fcdcdc;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  .dropdown-menu-phone > li + li {
    margin-top: 0.5em;
    border-top: 1px solid #929191;
  }
  .dropdown-menu-phone-big {
    padding: 10px 20px 20px;
    background-color: #464444;
    transform: translateX(-6%);
    width: 110%;
  }
  .dropdown-title-phone > a {
    font-size: 18px;
    color: #fcdcdc !important;
    display: block;
    text-decoration: none;
    letter-spacing: 1.8px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #929191;
    border-top: 1px solid #929191;
    padding-left: 0 !important;
  }
  .dropdown-menu-item-phone li a {
    font-size: 18px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding-left: 2em;
    line-height: 1.2;
  }
  .dropdown-menu-item-phone li + li {
    margin-top: 1em;
  }
  .dropdown-menu-item-phone li:last-child {
    margin-bottom: 1em;
  }
  /* index-team-gmp */
  .section-team-gmp-main {
    width: 90%;
  }
  .section-team-gmp-item {
    width: 100%;
  }
  .section-team-gmp-title h3 {
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 1.75px;
  }
  .section-team-gmp-item p {
    font-size: 25px;
    letter-spacing: 1.25px;
  }
  /* about */
  .section-index-about-pic {
    width: 100%;
  }
  .section-index-about-content {
    width: 80%;
    margin: auto;
    padding: 29px 0 0;
  }
  .section-index-about-title h3 {
    font-size: 84px;
  }
  .section-index-about-title {
    top: -10%;
    right: 50%;
    transform: translateX(56%);
  }
  .section-index-about-content h4 {
    font-size: 35px;
    margin-bottom: 32px;
    text-align: start;
    font-weight: 600;
  }
  .section-index-about-content p + p {
    margin-top: 1em;
  }
  /* ** */
  /* more-phone */
  .more-btn {
    margin: auto;
    width: 256px;
    height: 60px;
    transform: translateX(-6%);
  }
}
