.section-main-bread {
  width: 90%;
  margin: auto;
  display: flex;
}
.bread-list {
  margin-left: auto;
  margin-top: 20px;
}
.bread-list li a {
  color: #121212;
  font-size: 15px;
}
.bread-list li {
  margin-left: 5px;
}
.accordion-title h2 {
  font-size: 35px;
  color: #121212;
  font-weight: 600;
  margin-bottom: 0.8em;
}
.title-pic {
  width: 27.35px;
  margin-right: 30px;
}
/* * {
  outline: 1px solid #faf;
} */
.section-product-title-main {
  width: 70.833333%;
  margin: auto;
  padding-top: 5.388601vw;
  padding-bottom: 4.922279vw;
}
.section-product-title-main h2 {
  font-size: 5.854922vw;
  font-family: "Poller One", cursive;
  color: #a6a5a9;
}
.section-product-title-main h2 span {
  color: #e4081c;
}
.menu-control {
  width: 95%;
  margin-left: auto;
  margin-right: 63px;
}
.menu-control h3 {
  font-size: 2.072538vw;
  font-weight: 500;
  margin-bottom: 35px;
}
.section-product {
  background-color: #f6f6f8;
}
.section-product-main {
  width: 70.833333%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 30px;
}
.menu-list-title h2 a,
.menu-list-item p,
.menu-list-title h2 {
  font-size: 1.139896vw;
  display: flex;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #060509;
}
.menu-list-title h2 a:hover,
.menu-list-item p:hover,
.menu-list-title h2:hover {
  color: #e4081c;
}
.menu-list-item,
.menu-list-title {
  background-color: #f6f6f8;
}

.menu-list-body {
  background-color: #f6f6f8;
}
.accordion-item {
  margin-bottom: 32px;
}
/* 下拉active的時候 */
.menu-list-item:not(.collapsed) {
  background-color: #f6f6f8;
}
.menu-list-item:not(.collapsed) p::before {
  background-color: #e4081c;
}

.menu-list-body ul li a {
  text-decoration: none;
  color: #060509;
  font-size: 1.139896vw;
  display: block;
  padding-top: 32px;
  background-color: #f6f6f8;
  font-weight: 400;
}
.menu-list-body ul li a:hover {
  color: #e4081c;
}
.material-symbols-outlined {
  font-size: 1.295336vw;
  transform: translateY(10%);
  margin-left: auto;
}
.product-article p {
  font-size: 1.036269vw;
  line-height: 1.6;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.section-product-cards {
  margin-top: 32px;
}
@media (width<992px) {
  .section-product-title-main {
    width: 82.608695%;
    margin: auto;
    padding-top: 51px;
    padding-bottom: 46px;
  }
  .section-product-title-main h2 {
    font-size: 48px;
  }
  .menu-list-title {
    background-color: #cecdd2 !important;
    padding: 0.8em;
  }
  .menu-list-title p {
    font-size: 20px;
    font-weight: 500;
    margin: auto;
  }
  .menu-list-title p::before {
    content: "";
    display: none;
  }
  .accordion-button::after {
    display: none;
  }

  .menu-list-item:not(.collapsed) {
    background-color: #cecdd2;
  }
  .menu-list-item p {
    font-size: 18px;
  }
  .menu-list-item p::before {
    display: none;
  }
  .material-symbols-outlined {
    rotate: 90deg;
  }
  .accordion-item {
    margin-bottom: 0;
    background-color: #fff;
  }
  .menu-list-body ul li a {
    font-size: 18px;
    padding: 0.8em;
    background-color: #fff;
    padding: 0.9em;
    padding-left: 1.1em;
  }
  .menu-list-item:not(.collapsed) {
    background-color: #fff;
  }
  .menu-list-item:not(.collapsed) span,
  .menu-list-item:not(.collapsed) p {
    color: #e4081c;
  }

  .menu-list-title:not(.collapsed) {
    background-color: #cecdd2;
    color: #060509;
  }
  .menu-list-body {
    background-color: #fff;
  }
  .menu-list-item p:hover,
  .menu-list-title h2:hover {
    color: #060509;
  }
  .menu-list-item,
  .menu-list-title {
    background-color: #fff;
  }
  .section-product-main {
    width: 82%;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .menu-control {
    margin: auto;
    width: 100%;
  }
  .product-article p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    font-weight: 400;
    margin-top: 2em;
  }
}
